.#*
*.*#
*.zip
*.gz
*.pdf
*.toc
*.log
*.dvi
*.aux
*.fdb_latexmk
*~
*.json
*.elc
.history
target/
lib_managed
src_managed/
project/boot/
project/build/target
test_data
one_offs
dist
dist_*
.ensime
.ensime.bak
.emacs_clean.el
etc/pres_compiler.txt
etc/_region_.tex
etc/manual.ltx
scratch

test_projects/sbt-deps
test_projects/anti-xml
test_projects/rogue

sublime*
ensime.sublime*
.ensime_port

src/main/scala/org/ensime/server/Test.scala
.ensime_lucene
