<configuration>
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>
  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>test.log</file>
    <append>false</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %X{akkaSource} %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="file" />
  </root>
  <!-- <logger name="org.ensime" level="DEBUG" /> -->
  <!-- <logger name="akka" level="DEBUG" /> -->
</configuration>
