<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %X{akkaSource} %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
  <logger name="org.ensime" level="DEBUG" />
  <logger name="scala.tools" level="WARN" />
  <logger name="akka" level="DEBUG" />
</configuration>
