<configuration>

  <property name="PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>${PATTERN}</pattern>
    </encoder>
  </appender>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>test-output.log</file>
    <append>false</append>
    <encoder>
      <pattern>${PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- <logger name="org.ensime.indexer" level="DEBUG"/> -->
  <logger name="scala.tools" level="WARN"/>
  <logger name="org.ensime.server.RichPresentationCompiler" level="WARN"/>

  <root level="DEBUG">
    <appender-ref ref="file"/>
  </root>
</configuration>
