<configuration>
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>
  <!-- Incompatible with akka? https://groups.google.com/d/msg/akka-user/YVri58taWsM/X6-XR0_i1nwJ -->
  <!-- <turboFilter class="ch.qos.logback.classic.turbo.DuplicateMessageFilter" /> -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- NOTE: this truncates messages -->
      <pattern>%d{HH:mm:ss.SSS} %-5level %X{akkaSource:-None} %logger{10} - %.-250msg%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
  <logger name="org.ensime" level="DEBUG" />
  <logger name="akka" level="DEBUG" />
  <logger name="scala.tools" level="WARN" />
  <logger name="org.ensime.server.RichPresentationCompiler" level="WARN" />
</configuration>
